---
title: example-050
layout: example-050/layout.hbs
---
<div class="bs-example">
  {{> body }}
</div>

<h2>Related components</h2>
{{#each pages}}
  {{#isnt this.basename ../page.basename}}
    {{#isnt this.basename 'index'}}

      <!-- page -->
      <ul class="nav nav-stacked">
      {{#include}}
        <li><a href="{{relative ../../../../page.dest this.dest}}">{{{data.title}}}</a></li>
      {{/include}}
      </ul>


    {{/isnt}}
  {{/isnt}}
{{/each}}

<h2>Related Pages</h2>
<!-- page -->
{{#each pages}}
  {{#isnt this.basename ../page.basename}}
    {{#isnt this.basename 'index'}}
      <ul class="nav nav-stacked">
      {{#include}}
        <li><a href="{{relative ../../../../page.dest this.dest}}">{{{data.title}}}</a></li>
      {{/include}}
      </ul>
    {{/isnt}}
  {{/isnt}}
{{/each}}
