---
title: example-050
layout: example-050/layout.hbs
---
<h1>{{title}}</h1>

{{#each pages}}
  {{#isnt this.basename "index"}}


    <!-- page -->
    {{#include}}
      <h2>{{{data.title}}}</h2>
      <div class="bs-example">
        {{{page}}}
      </div>
      <a href="{{relative ../../../page.dest this.dest}}">Visit component</a>
    {{/include}}


  {{/isnt}}
{{/each}}