---
layout: templates/layouts/default.hbs
---
<!-- Pager -->
{{pager pagination}}


<!-- Header -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="{{this.basename}}">{{hyphenate title}}</h1>
  </div>
</div>


<!-- Component -->
{{> body }}
