{{! this isn't used anywhere }}

{{#compose "posts/*.md"}}
<article class="post post-item">
  <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  <div class="post-body">
    <a href="#"><h2 class="post-heading">Post heading</h2></a>
    {{{content}}}
  </div>
  <div class="post-footer">
    {{> disqus }}
  </div>
</article>
{{/compose}}