<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Bootstrap Components</title>

    <!-- Core CSS -->
    <link href="assets/css/blog.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="assets/css/github.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="docs-assets/js/ie8-responsive-file-warning.js"></script>
              <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Google web fonts -->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png.html">
    <link rel="shortcut icon" href="assets/ico/favicon.png.html">
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Navbar -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand">Bootstrap Components</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="about.html">About</a> </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Content -->
    <div class="container">

      <!-- page -->
      <div class="alert ">
        <strong>Foo</strong> Not much going on here. You successfully read
        <a href="<%= alert.link %>" class="alert-link">this important alert message</a>.
      </div>

      <!-- page -->
      <div class="alert alert-warning">
        <strong>Warning!</strong> Best check yo self, you're not looking too good. Best check yo self, you're
        <a href="<%= alert.link %>" class="alert-link">not looking too good</a>.
      </div>

      <!-- page -->
      <div class="alert alert-success">
        <strong>Well done!</strong> You successfully read this important alert message. You successfully read
        <a href="<%= alert.link %>" class="alert-link">this important alert message</a>.
      </div>

      <!-- page -->
      <div class="alert alert-danger">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
        <a href="<%= alert.link %>" class="alert-link">Change a few things up</a>&nbsp;and try submitting again.
      </div>

      <!-- page -->
      <h1></h1>
      Irure in occaecat in minim commodo consequat nostrud occaecat nisi. Nostrud anim dolor esse mollit proident cupidatat occaecat nisi magna labore culpa fugiat. Qui ex elit eu irure culpa sit labore reprehenderit sit anim laborum commodo.
      <hr>
      <p>Ullamco in ut ad sunt tempor officia sint enim exercitation nisi nulla duis est eiusmod dolor. Consequat sit commodo sit nisi labore deserunt ullamco qui ipsum sint reprehenderit duis culpa amet. Id officia sit aute consectetur ad in sit Lorem laboris
        consequat eu et irure cupidatat eu sunt aliqua Lorem magna. Eiusmod nostrud elit labore deserunt duis nostrud nisi et pariatur sunt reprehenderit cillum consectetur eiusmod culpa labore id consequat incididunt. Laborum esse reprehenderit est eiusmod
        sunt nulla veniam duis ut cupidatat aliquip labore nisi cupidatat dolore aute nulla excepteur voluptate. Ipsum commodo duis anim laboris consequat non duis velit cupidatat ullamco enim incididunt quis commodo irure ad deserunt cillum nostrud.
        Excepteur amet proident est voluptate sunt pariatur et culpa est labore deserunt dolor id aliquip nisi elit quis dolor irure.</p>
      <p>Duis aliqua eu laborum irure reprehenderit cillum nostrud voluptate cupidatat occaecat non aliqua consequat elit Lorem nostrud dolor aute officia. Voluptate culpa nulla ex duis Lorem voluptate aute culpa eiusmod qui ipsum elit Lorem enim eu irure
        proident ea. Aute est esse ad quis qui amet voluptate nostrud mollit consequat commodo eu fugiat elit magna. Consectetur minim dolor quis adipisicing reprehenderit enim enim fugiat est magna voluptate do irure mollit nulla adipisicing velit non.
        Officia fugiat reprehenderit excepteur laborum ullamco et aute sit exercitation commodo aute. Consectetur elit occaecat amet magna reprehenderit nostrud voluptate eiusmod sint minim.</p>
      <p>Cupidatat eu incididunt ex id reprehenderit voluptate incididunt non incididunt aliqua enim. Cupidatat voluptate exercitation dolore dolor non dolor excepteur laborum veniam occaecat nostrud anim est commodo. Aliquip enim non quis quis dolor reprehenderit
        laboris ipsum adipisicing reprehenderit consectetur sunt minim anim quis. Ea excepteur deserunt laborum enim cillum mollit elit et fugiat nulla magna amet. Culpa culpa laborum reprehenderit dolore velit qui sit ullamco dolore officia voluptate
        aliqua esse esse cupidatat proident consectetur anim qui.</p>
      <hr>Nisi ex voluptate est veniam adipisicing fugiat enim minim ullamco ullamco excepteur. Dolor voluptate officia tempor cillum occaecat nostrud commodo ea laborum. Do incididunt est dolor excepteur tempor dolore fugiat culpa aliqua consequat.
      <hr>qui aliqua pariatur elit amet

      <!-- page -->

      <!-- page -->
      <p>The MIT License (MIT)</p>
      <p>Copyright (c) 2013 Jon Schlinkert</p>
      <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the &quot;Software&quot;), to deal in the Software without restriction, including without limitation the rights to
        use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
      <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
      <p>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
        COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    </div>

    <!-- JS and analytics only. -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/holder.js"></script>
    <script src="assets/js/highlight.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script src="assets/js/application.js"></script>

    <!-- Analytics
    ================================================== -->
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t = document.createElement('script');
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
